// fonts
$mainFont: 'Fira Sans', sans-serif;
$titleFont: 'Cormorant Garamond', serif;

// colours

$lightPink: #fddbcd;
$darkGrey: #161d1d;
$darkBrown: #927b70;
$lightBrown: #caa393;
$pink: #ffcbb6;

$button-shadow: 0 3px 5px 0 rgba(0,0,0,.12);